/* src/pages/Home.css */

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  background: linear-gradient(to right, #000000, #0a3d62) #0a3d62; /* Dark blue background */
  padding: 100px 70px;
  color: white;
}

.home-content {
  flex: 1;
  max-width: 40%; /* Adjust the width of the text section */
  padding: 0 5rem;
  z-index: 1; /* Ensure content stays above particles */
}

.home-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-content p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.contact-options {
  display: flex;
  gap: 1.5rem;
}

.contact-icon {
  font-size: 2rem;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.contact-icon:hover {
  transform: scale(1.2);
  color: #13084f; /* Change color on hover (optional) */
}

.home-image {
  flex: 1;
  display: flex ;
  justify-content: center;
  z-index: 1; /* Ensure image stays above particles */
}

.home-image img {
  width: 320px; /* Adjust the size of your image */
  height: auto;
  border-radius: 70%; /* Optional: This makes the image round */
  box-shadow: 0 4px 8px rgba(49, 48, 48, 0.2);
  padding: 0 10rem;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; /* Ensure particles stay behind content */
}