/* src/pages/Images.css */

.images-page {
  padding: 2rem;
  text-align: center;
}

.images-page h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid layout */
  gap: 1rem;
  padding: 1rem;
}

.image-gallery img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-gallery img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
